@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica",
    Arial sans-serif;
  @apply bg-main text-white;
}

@theme {
  --color-main: #0a0a0a;
  --color-accent: #181818;
  --color-hover: #222222;
  --color-muted: #2d2d2d;
}
button {
  @apply cursor-pointer;
}

hr {
  @apply border-muted;
}

@layer components {
  main {
    @apply h-screen grid grid-rows-[auto_1fr];
  }
  .main-header {
    @apply w-[40rem] h-full max-h-[70px] mx-auto;
  }
  .main-content {
    @apply container max-w-[640px] w-full lg:w-[40rem] mx-auto h-full bg-accent border border-muted rounded-t-3xl shadow-xl text-center overflow-hidden;
  }
  .main-content-insights {
    @apply container max-w-[640px] w-full lg:w-[40rem] mx-auto h-full text-center overflow-hidden;
  }
  .main-content-insights-section {
    @apply bg-accent border border-muted rounded-3xl shadow-xl p-6 text-start space-y-4;

    p.title {
      @apply font-black text-xl;
    }
    span {
      @apply text-[15px] text-neutral-500;
    }
  }
}
